@page "/amenities"
@using PropertyViewWebApp.Shared.Models.Amenities
@inject HttpClient http
<h3>Amenities</h3>

<a href="/amenities/create">Create a Amenity</a>
@if (_amenities == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Amenity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var amenities in _amenities)
            {
            <tr>
                <td><strong>@amenities.Name</strong></td>
                <td>
                    <a href=@($"amenities/update/{amenities.Id}")>Update</a>
                    <a href=@($"amenities/delete/{amenities.Id}")>Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<AmenitiesGetAll> _amenities;

    protected override async Task OnInitializedAsync()
    {
        _amenities = await http.GetFromJsonAsync<List<AmenitiesGetAll>>("/api/Amenities");
    }
}
