@page "/amenities"
@using PropertyViewWebApp.Shared.Models.Amenities
@inject HttpClient Http
<h3>Amenities</h3>

<a href="/amenities/create">Create a Amenity</a>
@if (amenities == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (AmenitiesGetAll types in amenities)
            {
                <tr>
                    <td>@types.Id</td>
                    <td>@types.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<AmenitiesGetAll> amenities;
}
