@page "/types"
@using PropertyViewWebApp.Shared.Models.TypeOfListing
@inject HttpClient http
<h3>Types</h3>

<a href="/types/create">Create a Type</a>
@if (_types == null)
{
    <p><em>Loading...</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var types in _types)
        {
            <tr>
                <td><strong>@types.Name</strong></td>
                <td>
                    <a href=@($"amenities/update/{types.Id}")>Update</a>
                    <a href=@($"amenities/delete/{types.Id}")>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}

@code {
    private List<TypeOfListingGetAll> _types;

    protected override async Task OnInitializedAsync()
    {
        _types = await http.GetFromJsonAsync<List<TypeOfListingGetAll>>("/api/TypeOfListing");
    }
}
