@page "/listings/update/{listingsId:int}"
@using PropertyViewWebApp.Shared.Models.Listings
@inject HttpClient http
@using PropertyViewWebApp.Shared.Models.TypeOfListing
@inject NavigationManager navigation
<h3>Edit Listings: @Model.Name</h3>

@code {
    [Parameter]
    public int listingsId { get; set; }
    private ListingsUpdate Model { get; set; }
    private IEnumerable<TypeOfListingGetAll> Types { get; set; }
    private string ErrorMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = await http.GetFromJsonAsync<ListingsUpdate>($"/api/listings/{listingsId}");
        Types = await http.GetFromJsonAsync<IEnumerable<TypeOfListingGetAll>>("/api/types/");
        }

        private async void HandleSubmit()
        {
            var createListings = await http.PutAsJsonAsync<ListingsUpdate>($"/api/listings/update/{listingsId}", Model);
            if(createListings.IsSuccessStatusCode)
            {
                navigation.NavigateTo($"/listings/{listingsId}");
            }
            else
            {
                ErrorMessage = "Could not create your listing right now.  Please try again later.";
            }
    }
}
